<?php Section::inject('page_title', 'New Bid'); ?>

h3 #{ $contract->title }
!{ $contract->statement_of_work }

hr

h3 New Bid

form(action="#{ route('bids', array($contract->id)) }", method="POST")

  - $bid = Input::get('bid')

  textarea(name="bid[approach]", placeholder="Approach") #{ $bid["approach"] }

  textarea(name="bid[previous_work]", placeholder="Previous Work") #{ $bid["previous_work"] }

  textarea(name="bid[other_notes]", placeholder="Other Notes") #{ $bid["other_notes"] }

  h4 Prices

  table.prices-table(border="1")
    thead
      tr
        th Deliverable
        th Price
        th &nbsp;
    tbody

      - $i = 0;
      - $deliverable_prices = Input::get('deliverable_prices');
      - $deliverable_names = Input::get('deliverable_names');
      - if ($deliverable_names):
        - foreach(Input::get('deliverable_names') as $deliverable_name):
          tr.deliverables-row
            td
              input(type="text", name="deliverable_names[]", value="#{ $deliverable_name }")
            td
              input(type="text", name="deliverable_prices[]", value="#{ $deliverable_prices[$i] }")
            td
              a.remove-deliverable(href="#", class="">) (x)

          - $i++;
      - else:
        tr.deliverables-row
          td
            input(type="text", name="deliverable_names[]")
          td
            input(type="text", name="deliverable_prices[]")
          td
            a.remove-deliverable(href="#") (x)

    tfoot
      tr
        td(colspan="3")
          input#add-deliverable-button.btn(type="button", value="Add Deliverable")

  input.btn(type="submit")
