- Section::inject('page_title', 'New Bid')
- Section::inject('no_page_header', true)


.row

  .span6

    !{ $contract->statement_of_work }

  .span6

    h1 New Bid

    form.new-bid-form(action="#{ route('bids', array($contract->id)) }", method="POST")

      - $bid = Input::old('bid')

      .section
        label Your Approach
        textarea(name="bid[approach]", placeholder="Approach") #{ $bid["approach"] }

      .section
        label Previous Work
        textarea(name="bid[previous_work]", placeholder="Previous Work") #{ $bid["previous_work"] }

      .section
        label Employees who would work on this project
        textarea(name="bid[employee_details]", placeholder="Employee Details") #{ $bid["employee_details"] }

      h4 Prices

      table.table.prices-table
        thead
          tr
            th Deliverable
            th Price
            th &nbsp;
        tbody

          - $i = 0;
          - $deliverable_prices = Input::old('deliverable_prices');
          - $deliverable_names = Input::old('deliverable_names') ?: $contract->parsed_deliverables;
          - if ($deliverable_names):
            - foreach($deliverable_names as $deliverable_name):
              tr.deliverables-row
                td
                  input(type="text", name="deliverable_names[]", value="#{ $deliverable_name }")
                td
                  .input-prepend
                    span.add-on $
                    input.deliverable-price(type="text", name="deliverable_prices[]", value="#{ $deliverable_prices[$i] }")

                td
                  a.btn.btn-danger.btn-small.remove-deliverable
                    i.icon-white.icon-trash
              - $i++;
          - else:
            tr.deliverables-row
              td
                input(type="text", name="deliverable_names[]")
              td
                .input-prepend
                  span.add-on $
                  input.deliverable-price(type="text", name="deliverable_prices[]")
              td
                a.btn.btn-danger.btn-small.remove-deliverable
                  i.icon-white.icon-trash

        tfoot
          tr
            td(colspan="3")
              a#add-deliverable-button.btn.btn-primary Add Deliverable

      .form-actions
        button.btn.btn-primary(type="submit") Submit Bid
