- Section::inject('page_title', $project->title)
- Section::inject('page_action', 'New Bid')
- Section::inject('current_page', 'new-bid')

.row.new-bid-page

  .span6

    !{View::make('projects.partials.full_sow')->with('project', $project)}

  .span6

    h5 New Bid

    .alert.alert-success
      strong Eligibility:
      | This project is reserved for small businesses. In this case, the government defines small as having annual revenues of less than <strong>$#{intval($project->project_type->threshold)} million</strong>.

    form.new-bid-form(action="#{ route('bids', array($project->id)) }", method="POST")

      input(type="hidden", name="submit_now", value="true")

      - $draft = $project->my_current_bid_draft()
      - $draft_array = $draft ? $draft->to_array() : false
      - $bid = Input::old('bid') ?: $draft_array

      - if ($draft):
        .alert.alert-success !{__("r.bids.new.editing_draft", array("date" => $draft->updated_at))}
      - endif;

      .control-group
        label Your Approach
        textarea(name="bid[approach]", placeholder="#{__('r.bids.new.approach_placeholder')}") #{ $bid["approach"] }

      .control-group
        label Previous Work
        textarea(name="bid[previous_work]", placeholder="#{__('r.bids.new.previous_work_placeholder')}") #{ $bid["previous_work"] }

      .control-group
        label Employees who would work on this project
        textarea(name="bid[employee_details]", placeholder="#{__('r.bids.new.employee_details_placeholder')}") #{ $bid["employee_details"] }

      h5 Prices

      table.table.prices-table
        thead
          tr
            th Deliverable
            th Price
            th &nbsp;
        tbody

          - $i = 0;
          - $draft_deliverable_names = $draft ? $draft->deliverable_names() : false
          - $draft_deliverable_prices = $draft ? $draft->deliverable_prices() : false
          - $deliverable_prices = Input::old('deliverable_prices') ?: $draft_deliverable_prices
          - $deliverable_names = Input::old('deliverable_names') ?: $draft_deliverable_names ?: $project->deliverable_names()
          - if ($deliverable_names):
            - foreach($deliverable_names as $deliverable_name):
              tr.deliverables-row
                td
                  input.span3(type="text", name="deliverable_names[]", value="#{ $deliverable_name }")
                td
                  .input-prepend
                    span.add-on $
                    input.deliverable-price(type="text", name="deliverable_prices[]", value="#{ $deliverable_prices[$i] }")
                    - if ($project->price_type == Project::PRICE_TYPE_HOURLY):
                      span.add-on /hr
                    - endif;

                td
                  a.btn.btn-danger.btn-small.remove-deliverable
                    i.icon-white.icon-trash
              - $i++;
          - else:
            tr.deliverables-row
              td
                input.span3(type="text", name="deliverable_names[]")
              td
                .input-prepend
                  span.add-on $
                  input.deliverable-price(type="text", name="deliverable_prices[]")
                  - if ($project->price_type == Project::PRICE_TYPE_HOURLY):
                    span.add-on /hr
                  - endif;

              td
                a.btn.btn-danger.btn-small.remove-deliverable
                  i.icon-white.icon-trash
          - endif;

          tfoot
            - if ($project->price_type == Project::PRICE_TYPE_FIXED):
              tr.total-price-row
                th Total Price:
                td#total-price(colspan="2")
            - endif;
            tr
              td(colspan="3")
                a#add-deliverable-button.btn.btn-mini Add Custom Deliverable

      .form-actions
        button.btn.btn-primary(type="submit") Submit Bid
        a.btn#save-draft-button(data-loading-text="All Changes Saved") Save Draft
        span.help-inline #{__("r.bids.new.no_edit_warning")}
