- Section::inject('page_title', "Review Bids for $contract->title")

!{View::make('bids.dismiss_modal')}

h3 Bids awaiting review

table.table.open-bids
  thead
    tr
      th Vendor Name
      th Price
      th Starred
      th Actions

  - foreach($open_bids as $bid):
    tbody.bid
      tr
        td
          a(href="#{route('bid', array($contract->id, $bid->id))}") #{$bid->vendor->company_name}
        td $#{intval($bid->total_price())}
        td #{$bid->starred}
        td
          - if($bid->dismissed()):
            | Dismissed
          - else:
            a(class="btn btn-warning show-dismiss-modal", data-contract-id="#{$contract->id}", data-bid-id="#{$bid->id}", data-vendor-company-name="#{$bid->vendor->company_name}", data-remove-from-list="bid") Dismiss?

h3 Dismissed bids

table.table.dismissed-bids
  thead
    tr
      th Vendor Name
      th Price
      th Starred
      th Actions

  - foreach($dismissed_bids as $bid):
    tbody.bid
      tr
        td
          a(href="#{route('bid', array($contract->id, $bid->id))}") #{$bid->vendor->company_name}
        td $#{intval($bid->total_price())}
        td #{$bid->starred}
        td
          em Dismissed: #{$bid->dismissal_reason}
          a.btn.btn-info(href="#") Un-Dismiss
