div.nav-collapse.collapse

- if (Auth::check()):

  ul.nav
    li(class="#{Helper::active_nav('contracts') ? 'active':''}")
      a(href="#") Projects

    - if (Auth::user()->officer):
      li(class="#{Helper::active_nav('vendors') ? 'active':''}")
        a(href="#{ route('vendors') }") Vendors

  ul.nav.pull-right
    li(class="dropdown #{Helper::active_nav('account') ? 'active':''}")
      a(href="#", class="dropdown-toggle", data-toggle="dropdown")
        | #{Auth::user()->email}
        b.caret
      ul.dropdown-menu
        - if (Auth::user()->officer):
          li
            a(href="#") My Projects
        - else:
          li
            a(href="#{ route('my_bids') }") My Bids
        - endif;
        li
          a(href="#{route('account')}") Account Settings
        li
          a(href="#{ route('signout') }") Sign Out
    li(class="notification-nav-item #{Helper::active_nav('notifications') ? 'active':''}")
      a(href="#{route('notifications')}")
        | &nbsp;
        i.icon-white.icon-envelope
        - $count = Auth::user()->unread_notification_count()
        span(class="badge badge-inverse unread-notification-badge #{$count == 0 ? 'hide' : ''}") #{$count}
        | &nbsp;


- else:

  ul.nav
    li(class="#{Helper::active_nav('contracts') ? 'active':''}")
      a(href="#") Projects

  ul.nav.pull-right
    li(class="#{Helper::active_nav('sign_in') ? 'active':''}")
      a(href="#signinModal", data-toggle='modal') Sign In
