div.nav-collapse.collapse

- if (Auth::check()):

  ul.nav
    li(class="#{Helper::active_nav('contracts') ? 'active':''}")
      a(href="#{ route('contracts') }") Contracts

    - if (Auth::user()->officer):
      li(class="#{Helper::active_nav('vendors') ? 'active':''}")
        a(href="#{ route('vendors') }") Vendors

  ul.nav.pull-right
    li(class="dropdown #{Helper::active_nav('account') ? 'active':''}")
      a(href="#", class="dropdown-toggle", data-toggle="dropdown")
        | #{Auth::user()->email}
        b.caret
      ul.dropdown-menu
        - if (Auth::user()->officer):
          li
            a(href="#{ route('my_contracts') }") My Contracts
        - endif;
        li
          a(href="#{route('account')}") Account Settings
        li
          a(href="#{ route('signout') }") Sign Out


- else:

  ul.nav
    li(class="#{Helper::active_nav('contracts') ? 'active':''}")
      a(href="#{ route('contracts') }") Contracts

  ul.nav.pull-right
    li(class="#{Helper::active_nav('sign_in') ? 'active':''}")
      a(href="#signinModal", data-toggle='modal') Sign In
