.navbar.navbar-static-top
  .navbar-inner
    .container
      a.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a(class="brand", href="#{route('root')}", data-no-turbolink) EasyBid

      div.nav-collapse.collapse

        - if (Auth::check()):
          ul.nav
            - if (Auth::user()->officer):
              li
                a(href="#{ route('vendors') }") Vendors
              li
                a(href="#{ route('my_projects') }") Projects

              - if (Auth::officer()->is_role_or_higher(Officer::ROLE_ADMIN)):
                li
                  a(href="#{route('admin_home')}") Admin
              - endif;
              - if (Auth::officer()->is_role_or_higher(Officer::ROLE_SUPER_ADMIN)):
                li
                  a(href="/superadmin") Super Admin
              - endif;

            - else:
              li
                a(href="#{ route('my_bids') }") Bids
              li
                a(href="#{ route('projects') }") Projects
            - endif;

          ul.nav.pull-right
            li.dropdown
              a(href="#", class="dropdown-toggle", data-toggle="dropdown")
                | #{Auth::user()->email}
                b.caret

              ul.dropdown-menu
                li
                  a(href="#{route('account')}") Account Settings
                li
                  a(href="#{ route('signout') }", data-no-turbolink) Sign Out

            li.hidden-desktop
              a(href="#{route('notifications')}")
                i.icon-white.icon-envelope
                | Notifications (#{Auth::user()->unread_notification_count()} Unread)

            li.dropdown.notification-nav-item.visible-desktop
              a#notifications-dropdown-trigger.dropdown-toggle(data-toggle="dropdown", href="#")
                | &nbsp;
                i.icon-white.icon-envelope
                - $count = Auth::user()->unread_notification_count()
                | &nbsp;
                span(class="badge badge-inverse unread-notification-badge #{$count == 0 ? 'hide' : ''}") #{$count}

              ul.dropdown-menu.loading#notifications-dropdown
                li.no-notifications #{__("r.partials.topnav.no_notifications")}



        - else:

          ul.nav
            li
              a(href="#{ route('projects') }", data-pjax) Browse Projects

          ul.nav.pull-right
            li
              a(href="#signinModal", data-toggle='modal') Sign In
