div.nav-collapse.collapse

- if (Auth::check()):

  ul.nav

    - if (Auth::user()->officer):
      li(class="#{URI::is('contracts/mine') ? 'active':''}")
        a(href="#{ route('my_contracts') }") contracts
      li(class="#{URI::is('vendors') ? 'active':''}")
        a(href="#{ route('vendors') }") vendors

    - else:
      li(class="#{URI::is('contracts*') ? 'active':''}")
        a(href="#{ route('contracts') }") browse contracts

  ul.nav.pull-right
    li(class="#{URI::is('account') ? 'active':''}")
      a(href="#{route('account')}") account
    li
      a(href="#{ route('signout') }") sign out

- else:

  ul.nav
    li(class="#{URI::is('vendors/new') ? 'active':''}")
      a(href="#{ route('new_vendors') }") new vendor
    li(class="#{URI::is('officers/new') ? 'active':''}")
      a(href="#{ route('new_officers') }") new officer

  ul.nav.pull-right
    li(class="#{URI::is('signin') ? 'active':''}")
      a(href="#signinModal", data-toggle='modal') sign in
