div.nav-collapse.collapse

- if (Auth::check()):
  ul.nav
    - if (Auth::user()->officer):
      li
        a(href="#{ route('vendors') }") Vendors
      li
        a(href="#{ route('my_projects') }") Projects
    - else:
      - if (Auth::user()->vendor && Bid::where_vendor_id(Auth::vendor()->id)->where_deleted_by_vendor(0)->count() ):
        li
          a(href="#{ route('my_bids') }") Bids
      - endif;
      li
        a(href="#{ route('projects') }") Projects
    - endif;

  ul.nav.pull-right
    li.dropdown
      a(href="#", class="dropdown-toggle", data-toggle="dropdown")
        | #{Auth::user()->email}
        b.caret

      ul.dropdown-menu
        li
          a(href="#{route('account')}") Account Settings
        li
          a(href="#{ route('signout') }") Sign Out

    li(class="notification-nav-item")
      a(href="#{route('notifications')}")
        | &nbsp;
        i.icon-white.icon-envelope
        - $count = Auth::user()->unread_notification_count()
        span(class="badge badge-inverse unread-notification-badge #{$count == 0 ? 'hide' : ''}") #{$count}
        | &nbsp;

- else:

  ul.nav
    li
      a(href="#{ route('projects') }") Browse Projects

  ul.nav.pull-right
    li
      a(href="#signinModal", data-toggle='modal') Sign In
