ul.nav.nav-list.sow-sidebar
  li(class="#{Helper::active_sidebar('background') ? 'active':''}")
    a(href="#{route('sow_background', array($project->id))}") Background
      i.icon-chevron-right
  - foreach ($project->sow->template_section_types() as $section_type):
    - $active = Helper::active_sidebar("section-" . $section_type)
    li(class="#{$active ? 'active':''}")
      a(href="#{route('sow_section', array($project->id, $section_type))}") #{$section_type}
        i.icon-chevron-right
  li(class="#{Helper::active_sidebar('fillinblanks') ? 'active':''}")
    a(href="#{route('sow_fillinblanks', array($project->id))}") Fill in Variables
      i.icon-chevron-right
  li(class="#{Helper::active_sidebar('editdoc') ? 'active':''}")
    a(href="#{route('sow_editdoc', array($project->id))}") Edit Document
      i.icon-chevron-right
