- if (Request::header('x-pjax')):
  title #{Helper::full_title(Section::yield('page_title'), Section::yield('page_action'))}
- endif;

!{Section::yield('page_scripts')}

input#current-page(type="hidden", value="#{Section::yield('current_page')}")

!{View::make('partials.topnav')}

.container

  - if (Auth::guest()):
    !{View::make('partials.signin_modal')}
  - endif;

  - if (Session::has('errors')):
    .alert.alert-error
      ul
        - foreach(Session::get('errors') as $error):
          li #{$error}
  - endif;

  - if (Session::has('notice')):
    .alert.alert-success #{Session::get('notice')}
  - endif;

  - if (!Section::yield('no_page_header'))
    h4 #{Section::yield('page_title')}
      | !{Section::yield('inside_header')}

  !{Section::yield('subnav')}

  !{$content}
