#award-modal.modal.hide(tabindex='-1', role='dialog')
  form.form-horizontal
    .modal-header
      button.close(type='button', data-dismiss='modal') ×
      h3
        | Award bid from
        span.company-name

    .modal-body

      p
        strong #{__("r.bids.partials.award_modal.header")}
        | !{__("r.bids.partials.award_modal.description")}


      p !{__("r.bids.partials.award_modal.co_warning")}

      - if ($project->is_open_for_bids()):
        .alert.alert-danger !{__("r.bids.partials.award_modal.due_date_warning")}
      - endif;

      label.bold-label Message to vendor: (will be sent to <em class="vendor-email"></em>)
      textarea.awarded-message(name='awarded_message') !{__("r.bid_award_message", array("title" => $project->title, "officer_name" => Auth::officer()->name, "officer_email" => Auth::officer()->user->email))}

      label.checkbox !{__("r.bids.partials.award_modal.no_email_label")}
        input.manual-awarded-message-checkbox(type="checkbox")

    .modal-footer
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-primary.award-btn(data-loading-text='Awarding...') Award