- $unread = Auth::user()->unread_notification_for_payload("bid", $bid->id)

tbody(class="bid #{$unread ? 'unread' : ''}", data-project-id="#{$bid->project->id}", data-bid-id="#{$bid->id}", data-vendor-company-name="#{$bid->vendor->company_name}")
  tr
    td.bid-notification-td
      a(class="btn btn-small btn-primary btn-circle mark-as-read") &nbsp;
      a(class="btn btn-small btn-circle mark-as-unread") &nbsp;
    td(class="star-td #{$bid->starred ? 'starred' : ''}")
      a.btn.btn-inverse.btn-mini.unstar-button
        i.icon-star
      a.btn.btn-mini.star-button
        i.icon-star-empty
    td.bid-vendor-td
      a(data-toggle="collapse", data-target="#bid#{$bid->id}") #{$bid->vendor->company_name}
      - if ($bid->awarded_at):
        span.label.label-success Winning Bid!
      - endif;
    td $#{intval($bid->total_price())}
    td
      - if (Auth::officer()->is_verified_contracting_officer()):
        - if (!$bid->awarded_at):
          - if($bid->dismissed()):
            a(class="btn btn-info undismiss-button", data-move-to-table="true") Un-dismiss
            div
              em Dismissed: #{$bid->dismissal_reason}
          - else:
            a(class="btn btn-warning show-dismiss-modal", data-move-to-table="true") Dismiss
            - if (!$bid->project->winning_bid()):
              a(class="btn btn-primary show-award-modal", data-move-to-table="true") Award
            - endif;
        - else:
          | Congrats on finding a great bid!
        - endif;
      - else:
        | Only COs can dismiss bids.
      - endif;

  tr
    td.bid-details(colspan="6")
      div(id="bid#{$bid->id}", class="collapse")
        !{View::make('bids.partials.bid_details_officers_view')->with('bid', $bid)}