- if (!isset($defer)) $defer = true;

.details-inner

  - if ($bid->dismissed()):
    .alert.alert-danger.dismissed-alert
      .dismissal-notice You have dismissed this bid.
      .dismissal-reason
        strong Reason:
        span #{$bid->dismissal_reason}
      .dismissal-explanation
        strong Explanation:
        span #{$bid->dismissal_explanation}
  - endif;

  .row-fluid

    .span5.col1

      h5 Approach
      p !{$bid->approach}

      h5 Previous Work
      p !{$bid->previous_work}

      h5 Employee Details
      !{View::make('vendors.partials.epls_results')->with('bid', $bid)}

      h5 Prices
      table.table
        thead
          tr
            th Deliverable
            th Price
        - if ($bid->prices):
          - foreach($bid->prices as $deliverable => $price):
            tr
              td #{$deliverable}
              td $#{$price}#{$bid->project->price_type == Project::PRICE_TYPE_HOURLY ? '/hr' : ''}
        - endif;
        - if ($bid->project->price_type == Project::PRICE_TYPE_FIXED):
          tfoot
            tr.info
              td Total Price
              td #{$bid->display_price()}
        - endif;

    .span5.col2
      h5 #{$bid->vendor->company_name}
        a(href="#{route('vendor', array($bid->vendor->id))}") (view profile)
      !{View::make('vendors.partials.data')->with('vendor', $bid->vendor)->with('defer', $defer)}

      h5 Example Work
      .vendor-image-preview-frame
        img(src="#{$bid->vendor->image_url}")
