- Section::inject('page_title', "$contract->title")
- Section::inject('page_action', "Admin")
- Section::inject('active_nav', $contract->is_mine_or_collaborates_on() ? 'account' : 'contracts')
- Section::inject('active_subnav', 'admin')

- if ($contract->is_mine_or_collaborates_on()):
  - Section::inject('subnav', View::make('partials.media.officer_contract_toolbar')->with('contract', $contract))
- endif;

h3 Contracting Officer
p
  | #{$contract->officer->name}
  br
  | #{$contract->officer->user->email}
  br
  | #{$contract->officer->phone}

h3 Collaborators

p Collaborators can review bids, star and unstar them, and generally do everything <em>except</em> dismiss and award contracts.

table.table.collaborators-table(data-contract-id="#{$contract->id}")
  thead
    tr
      th Email
      th Actions
  tbody
    - foreach ($contract->collaborators as $officer):
      !{View::make('partials.media.contract_collaborator_tr')->with('officer', $officer)->with('contract', $contract)}
  tfoot
    tr
      td(colspan="2")
        form#add-collaborator-form(action="#{route('contract_collaborators', array($contract->id))}", method="POST")
          .input-append
            input(type="text", name="email", placeholder="Email Address", autocomplete="off")
            button.btn.btn-success Add
