- Section::inject('page_title', 'Contracts')
- Section::inject('active_nav', 'contracts')

- Section::start('inside_header');
  .search-contracts.pull-right
    input.search-query#filter-contracts-input(type="search", placeholder="Filter contracts...")

- Section::stop();

table.table.contracts-table
  thead
    tr
      th Contract Title
      th Type
      th Agency

  - foreach($contracts as $contract):
    tbody.contract
      tr
        td
          a(href="#{route('contract', array($contract->id))}") #{$contract->title}
          span(class="admin-star only-user only-user-#{$contract->officer->user->id}")
            i.icon-star
            | Posted by me

        td #{@Contract::$naics_codes[$contract->naics_code] ?: $contract->naics_code}
        td #{$contract->agency}

      tr.contract-details
        td(colspan="3") #{$contract->sow_variable('bgscope')}

      tr.deliverables
        td(colspan="3")
          strong Deliverables:
          #{$contract->parsed_deliverables_list}

