- Section::inject('page_title', 'Contracts')
- Section::inject('active_nav', 'contracts')

- Section::start('inside_header');
  a.officer-only.show-my-contracts-btn(href="#{route('my_contracts')}") show my contracts only
  .search-contracts.pull-right
    input.search-query#filter-contracts-input(type="search", placeholder="Filter contracts...")

- Section::stop();

table.table.contracts-table
  thead
    tr
      th.contract-title Contract Title
      th.type Type
      th.agency Agency

  - foreach($contracts as $contract):
    tbody.contract
      tr
        td
          a(href="#{route('contract', array($contract->id))}") #{$contract->title}
          - if ($contract->is_mine()):
            span.admin-star
              i.icon-star
              | Posted by me
          - endif;

          - if (Auth::user()->vendor && $contract->my_bid_id()):
            span.admin-star
              i.icon-star
              a(href="#{route('bid', array($contract->id, $contract->my_bid_id()))}") View my bid

        td #{@Contract::$naics_codes[$contract->naics_code] ?: $contract->naics_code}
        td #{$contract->agency}

      tr.contract-details
        td(colspan="3") #{$contract->sow_variable('bgscope')}

      tr.deliverables
        td(colspan="3")
          strong Deliverables:
          #{$contract->parsed_deliverables_list}

