- Section::inject('page_title', 'My Contracts')
- Section::inject('active_nav', 'account')

- Section::start('inside_header');
  a.btn.btn-small.btn-success.new-contract-btn(href="#{ route('new_contracts') }")
    i.icon-plus-sign.icon-white
    | new contract
- Section::stop();

- if ($contracts):
  table.table.my-contract-table
    thead
      tr
        th Contract
        th Proposals Due
        th # Bids
        th Actions
    tbody
      - foreach($contracts as $contract):
        tr
          td
            a(href="#{ route('contract', array($contract->id)) }") #{$contract->title}
          td #{RelativeTime::format($contract->proposals_due_at)}
          td #{$contract->submitted_bids()->count()}
          td
            - if ($contract->submitted_bids()->count() === "0"):
              span.muted no bids
            - else:
              a.btn.btn-mini(href="#{ route('bids', array($contract->id)) }") View Bids
- else:
  p No contracts to display.
