- Section::inject('page_title', $contract->title)
- Section::inject('no_page_header', true)

- if (Auth::user() && Auth::user()->officer):
  !{View::make('contracts.answer_question')}
- endif;

div(class="only-user only-user-#{$contract->officer->id}")
  | This is a contract you posted. Admin tasks and links can go up here.
  a(href="#{route('bids', array($contract->id))}", class="pull-right") Review Bids

  hr

.row
  .span6
    !{$contract->statement_of_work}

  .span5.offset1

    h4 Proposals due #{RelativeTime::format($contract->proposals_due_at)}

    .vendor-only
      - if (Auth::user() && Auth::user()->vendor && $bid = $contract->current_bid_from(Auth::user()->vendor)):
        a.btn.btn-small.btn-primary(href="#{route('bid', array($contract->id, $bid->id))}") View my bid
      - else:
        a.btn.btn-success(href="#{route('new_bids', array($contract->id))}") Bid on this Contract
      - endif;

    .no-auth-only
      <a class="btn btn-success" href="#signinModal" data-toggle="modal">Sign in</a> to bid on this contract.

    hr

    .q-and-a
      h4 Q &amp; A
      .questions
        - foreach($contract->questions as $question):
          !{View::make('partials.media.question')->with('question', $question)}

      .vendor-only
        h4 Ask a question about this project
        form#ask-question-form(action="#{route('questions')}", id="ask-question-form", method="post")
          input(type="hidden", name="contract_id", value="#{$contract->id}")
          textarea(name="question", placeholder="Type your question here")
          button.btn.btn-primary.btn-small(data-loading-text="Sending...") Submit Question
