- Section::inject('page_title', $contract->title)
- Section::inject('no_page_header', true)
- Section::inject('active_nav', $contract->is_mine() ? 'account' : 'contracts')

- if (Auth::user() && Auth::user()->officer):
  !{View::make('contracts.answer_question')}
- endif;

- if ($contract->is_mine()):
  !{View::make('partials.media.officer_contract_toolbar')->with('contract', $contract)}
- endif;

.row
  .span6
    !{$contract->statement_of_work}

  .span5.offset1

    h4 Proposals due #{RelativeTime::format($contract->proposals_due_at)}

    .vendor-only
      - if ($bid = $contract->my_current_bid()):
        a.btn.btn-small.btn-primary(href="#{route('bid', array($contract->id, $bid->id))}") View my bid
      - elseif ($bid = $contract->my_current_bid_draft()):
        a.btn.btn-success(href="#{route('new_bids', array($contract->id))}") Continue Writing Bid
      - else:
        a.btn.btn-success(href="#{route('new_bids', array($contract->id))}") Bid on this Contract
      - endif;

    .no-auth-only
      <a class="btn btn-success" href="#signinModal" data-toggle="modal">Sign in</a> to bid on this contract.

    hr

    .q-and-a
      h4 Q &amp; A
      .questions
        - if ($contract->questions):
          - foreach($contract->questions as $question):
            !{View::make('partials.media.question')->with('question', $question)}
        - else:
          p No questions have been asked.

      .vendor-only
        h4 Ask a question about this project
        form#ask-question-form(action="#{route('questions')}", id="ask-question-form", method="post")
          input(type="hidden", name="contract_id", value="#{$contract->id}")
          textarea(name="question", placeholder="Type your question here")
          button.btn.btn-primary.btn-small(data-loading-text="Sending...") Submit Question
