- Section::inject('page_title', __('r.home.index_signed_out.site_tagline'))
- Section::inject('no_page_header', true)



.hero-unit
  h1 RFP-EZ
    small #{__('r.home.index_signed_out.site_tagline')}


.row-fluid
  .span6
    h5 !{__('r.home.index_signed_out.biz_header')}
    p.main-description !{__('r.home.index_signed_out.biz_description')}
    a.btn.btn-warning.btn-large(href="#{ route('projects') }") !{__('r.home.index_signed_out.biz_button')}

  .span6
    h5 !{__('r.home.index_signed_out.gov_header')}
    p.main-description !{__('r.home.index_signed_out.gov_description')}
    a.btn.btn-warning.btn-large(href="#{ route('government') }") !{__('r.home.index_signed_out.gov_button')}
