- Section::inject('page_title', 'A Technology Marketplace That Everybody Loves')
- Section::inject('no_page_header', true)



.hero-unit
  h1 EasyBid
    small #{__('r.home.index_signed_out.site_tagline')}


.row-fluid
  .span6
    h5 !{__('r.home.index_signed_out.biz_header')}
    p.main-description !{__('r.home.index_signed_out.biz_description', array('url' => route('projects')))}
    a.btn.btn-warning.btn-large(href="#{ route('new_vendors') }") !{__('r.home.index_signed_out.biz_button')}

  .span6
    h5 !{__('r.home.index_signed_out.gov_header')}
    p.main-description !{__('r.home.index_signed_out.gov_description')}
    a.btn.btn-warning.btn-large(href="#{ route('new_officers') }") !{__('r.home.index_signed_out.gov_button')}
