.question-wrapper.well(data-question-id="#{$question->id}")
  .question Q: #{$question->question}

  .answer
    - if ($question->answer):
      | A: #{$question->answer}
      .answerer
        em Answered by #{$question->answerer->user->email}
    - else:
      em #{__("r.projects.partials.question.not_answered")}
      - if (Auth::officer() && Auth::officer()->collaborates_on($question->project->id)):
        div(class="answer-question")
          a.answer-question-toggle Answer Question
    - endif;