.sections-for-editing-wrapper(data-project-id="#{$project->id}")
  .sections-for-editing
    - if ($sections_by_category = $project->sections_by_category()):
      - foreach ($sections_by_category as $category => $sections):
        .category(data-name="#{$category}")
          h5 #{$category}

          .category-sections
            - foreach ($sections as $section):
              .section(data-section-id="#{$section->id}", data-section-title="#{$section->title}", data-will-fork="#{$section->can_edit_without_forking() ? 'false' : 'true'}")
                strong #{$section->title}
                a.btn.btn-success.btn-mini.edit-section-link(href="#") Edit
                a.btn.btn-danger.btn-mini.remove-button(data-href="#{route('project_section_delete', array($project->id, $section->id))}", data-loading-text="Removing...") Remove
                p.body !{$section->body}
    - else:
      p #{__("r.projects.partials.sections_for_editing.none")}
    - endif;