.sections-for-editing
  - foreach ($project->sections_by_category() as $category => $sections):
    .category(data-name="#{$category}")
      h4 #{$category}

      - foreach ($sections as $section):
        .section(data-section-id="#{$section->id}", data-section-title="#{$section->title}")
          strong #{$section->title}
          a.edit-section-link(href="#") edit
          p.body #{$section->body}