h4 #{$project->title}

  span.pull-right Status: #{$project->status_text()}

.navbar.subnav
  .navbar-inner
    ul.nav
      - if ($project->status() == Project::STATUS_WRITING_SOW):
        li(class="#{Helper::active_subnav('background') ? 'active':''}")
          a(href="#{route('sow_background', array($project->id))}") Background
        li(class="#{Helper::active_subnav('sections') ? 'active':''}")
          a(href="#{route('sow_section', array($project->id, $project->sow->first_template_section_type()))}") Sections
        li(class="#{Helper::active_subnav('fillinblanks') ? 'active':''}")
          a(href="#{route('sow_fillinblanks', array($project->id))}") Fill in Variables
        li(class="#{Helper::active_subnav('editdoc') ? 'active':''}")
          a(href="#{route('sow_editdoc', array($project->id))}") Edit Document
        li(class="#{Helper::active_subnav('review') ? 'active':''}")
          a(href="#{route('sow_review', array($project->id))}") Review

      - elseif ($project->status() == Project::STATUS_ACCEPTING_BIDS):
        li
          a(href="#{route('project', array($project->id))}") View Posting

        li
          a(href="#{route('review_bids', array($project->id))}") Review Bids (X)

      - elseif ($project->status() == Project::STATUS_REVIEWING_BIDS):
        p

      - elseif ($project->status() == Project::STATUS_CONTRACT_AWARDED):
        p

      - endif;
    ul.nav.pull-right
      li
        a Discuss (0)
      li(class="#{Helper::active_subnav('admin') ? 'active':''}")
        a(href="#{route('project_admin', array($project->id))}") Admin