- Section::inject('page_title', 'Reports')

hr
h1 #{$total_signups} new businesses have signed up, #{$total_new_to_contracting} are probably new to gov contracting
#signups-line-chart


hr

.row
  .span-5
    h1 Projects average #{round($avg_bids_per_project, 1)} bids
    #num-bids-chart

  .span-5
    h1 Bids average $#{round($avg_price_total)}
    #price-bids-chart

- Section::start('additional_scripts');
  script(src='https://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22visualization%22%2C%22version%22%3A%221%22%2C%22packages%22%3A%5B%22corechart%22%5D%7D%5D%7D')
- Section::stop();

script
  | Rfpez.reporting_stats({ newVendorPercentage: !{json_encode($new_to_contracting)}, signupsPerDay: !{json_encode($signups_per_day)}, bidsPerProject : !{json_encode($bids_per_project)}, avgPrices: !{json_encode($avg_prices)}, avgPriceTotal : !{json_encode($avg_price_total)} });
