- Section::inject('page_title', 'Reports')

hr
h1 #{$total_signups} new businesses have signed up, #{$total_new_to_contracting} of which are new to gov contracting.
#signups-chart
  <img src="//chart.googleapis.com/chart?chxs=0,676767,11.167,0.333,l,676767&chxt=y&chbh=a&chs=920x120&cht=bvs&chco=F69400&chds=a&chd=t:!{implode(",", $signups_per_day_flat)}&chg=-1,0,0,4&chtt=Sign-ups+per+day+since+Jan.+18" width="920" height="120" alt="Sign-ups per day since Jan. 18" />

hr
h1 Projects have received an average of #{round($avg_bids_per_project, 1)} bids.
h6 Bids per project
#num-bids-chart

hr
h1 The average bid across all projects is #{round($avg_price_total)}.
h6 Average bid per project
#price-bids-chart


script
  | console.log(!{json_encode($signups_per_day_flat)});