- Section::inject('page_title', 'Reports')

p Reports!

h5 signups_per_day
pre !{json_encode($signups_per_day)}

h5 new_to_contracting
pre !{json_encode($new_to_contracting)}

h5 bids_per_project
pre !{json_encode($bids_per_project)}

h5 avg_bids_per_project
pre !{json_encode($avg_bids_per_project)}

h5 avg_prices
pre !{json_encode($avg_prices)}

h5 avg_price_total
pre !{json_encode($avg_price_total)}