- Section::inject('page_title', "$project->title")
- Section::inject('page_action', "Comments")
- Section::inject('active_subnav', 'comments')
- Section::inject('no_page_header', true)

!{View::make('projects.partials.toolbar')->with('project', $project)}

- Section::start('page_scripts');
  !{HTML::script('js/comments-backbone.js')}
- Section::stop();

.comments-list
  :javascript
    | $(function(){
    |  new Rfpez.Backbone.Comments( #{$project->id}, #{$project->comments_json()} )
    | })

.form-actions
  h5 Add Comment

  form#add-comment-form(action="#{'comments'}", method="POST", data-officer-name="#{Auth::officer()->name}", data-officer-user-id="Auth::officer()->user_id")
    textarea.span5(name="body")

    div
      button.btn.btn-primary Submit Comment
