- if (!isset($defer)) $defer = false;

.vendor-data
  !{Helper::datum("Contact Name", $vendor->contact_name)}
  !{Helper::datum("Email", $vendor->user->email, true)}
  !{Helper::datum("Address", $vendor->address."<br />".$vendor->city.", ".$vendor->state." ".$vendor->zip)}
  !{Helper::datum("Website", $vendor->homepage_url, true)}
  !{Helper::datum("Portfolio", $vendor->portfolio_url, true)}
  !{Helper::datum("Source code", $vendor->sourcecode_url, true)}
  //- .datum
    label SAM.gov
    div.content
      - if ($vendor->sam_entity_name):
        span.green Yes, under "#{$vendor->sam_entity_name}"
      - else:
        span.red No
      - endif;
  .datum
    label DSBS
    div.content
      - if ($vendor->dsbs_name):
        span.green Yes, under "#{$vendor->dsbs_name}"
        !{View::make('vendors.partials.dsbs_certifications')->with('user_id', $vendor->dsbs_user_id)->with('defer', $defer)}
      - else:
        span.red No
      - endif;
  .datum
    label EPLS
    div.content
      - if ($vendor->epls):
        span.red
          a(href="http://rfpez-apis.presidentialinnovationfellows.org/exclusions?duns=#{$vendor->duns}", target="_blank") Yes
      - else:
        span.green No
      - endif;
