tbody.bid(data-contract-id="#{$bid->contract->id}", data-bid-id="#{$bid->id}", data-vendor-company-name="#{$bid->vendor->company_name}")
  tr
    td
      a(data-toggle="collapse", data-target="#bid#{$bid->id}") #{$bid->vendor->company_name}
    td $#{intval($bid->total_price())}
    td(class="star-td #{$bid->starred ? 'starred' : ''}")
      a.btn.btn-inverse.unstar-button Starred
      a.btn.star-button Star
    td
      - if($bid->dismissed()):
        a.btn.btn-info.undismiss-button(data-move-to-table="true") Un-Dismiss
        div
          em Dismissed: #{$bid->dismissal_reason}
      - else:
        a(class="btn btn-warning show-dismiss-modal", data-move-to-table="true") Dismiss?
        a(class="btn", href="#{route('bid_sf1449', array($bid->contract->id, $bid->id))}")
          i.icon-download
          | SF1449

  tr
    td.bid-details(colspan="4")
      div(id="bid#{$bid->id}", class="collapse")
        !{View::make('partials.media.bid_details')->with('bid', $bid)}