.details-inner

  h4.officer-only Bid from #{$bid->vendor->company_name} on
    a(href="#{route('contract', array($bid->contract->id))}") #{$bid->contract->title}

  h4.vendor-only My bid on
    a(href="#{route('contract', array($bid->contract->id))}") #{$bid->contract->title}

  a.btn(href="#{route('bid_sf1449', array($bid->contract->id, $bid->id))}")
    i.icon-download
    | SF1449

  a.btn.btn-danger.vendor-only(href="#{route('bid_destroy', array($bid->contract->id, $bid->id))}", data-confirm="Are you sure you want to delete your bid?")
    i.icon-white.icon-trash
    | Delete Bid

  hr

  .officer-only
    - if ($bid->dismissed()):
      .alert.alert-danger.dismissed-alert
        .dismissal-notice You have dismissed this bid.
        .dismissal-reason
          strong Reason:
          span #{$bid->dismissal_reason}
        .dismissal-explanation
          strong Explanation:
          span #{$bid->dismissal_explanation}
    - endif;

  h4 Approach
  p #{$bid->approach}

  h4 Previous Work
  p #{$bid->previous_work}

  h4 Employee Details
  p #{$bid->employee_details}

  .row
    .span6.prices
      h4 Prices
      table.table
        thead
          tr
            th Deliverable
            th Price
        - if ($bid->prices):
          - foreach($bid->prices as $deliverable => $price):
            tr
              td #{$deliverable}
              td $#{$price}
        - endif;
        tfoot
          tr.info
            td Total Price
            td $#{$bid->total_price()}

    .span6.example-work
      h4 Example Work
      .vendor-image-preview-frame
        img(src="#{$bid->vendor->image_url}")


