- Section::inject('page_title', 'Browse Vendors')
- Section::inject('current_page', 'vendors-index')

.vendors-wrapper
  .vendors
    - foreach($vendors as $vendor):
      .media.vendor.well
        .company-name.pull-left
          a(href="#{route('vendor', array($vendor->id))}") #{$vendor->company_name}

        .ballpark-price.pull-right #{$vendor->ballpark_price_display()}

        .clearfix

        .vendor-image-preview-frame
          a(href="#{route('vendor', array($vendor->id))}")
            img(src="#{$vendor->image_url}")

        .more-info #{$vendor->more_info}


  .loading-spinner
    <?= HTML::image('img/spinner.gif') ?>

  .finished-loading-text You're currently viewing all vendors.
