- foreach($vendors as $vendor):
  .media.vendor.well
    .company-name.officer-only
      a(href="#") #{$vendor->company_name}

    .company-name.no-officer
      span #{$vendor->company_name}

    .homepage-url
      a(href="#{$vendor->homepage_url}") #{$vendor->homepage_url}

    .ballpark-price #{$vendor->ballpark_price_display}

    .clearfix

    .vendor-image-preview-frame
      img(src="#{$vendor->image_url}")

    .more_info #{$vendor->more_info}
