.subheader
  - Section::inject('page_title', $project->title)
  - Section::inject('page_action', "Admin")
  - Section::inject('active_subnav', 'admin')
  - Section::inject('no_page_header', true)

  !{View::make('projects.partials.toolbar')->with('project', $project)}

.container.inner-container

  .row-fluid
    .span6

      h5 Update Project

      form(action="#{route('project', array($project->id))}", method="POST", id="update-project-form")
        input(type="hidden", name="_method", value="PUT")

        - if (Auth::user()):

          - if (Auth::officer() && Auth::officer()->is_role_or_higher(Officer::ROLE_ADMIN)): 
            .control-group
              label Source
              select#source-select(name="project[source]")
                - if ($project->source == Project::SOURCE_NATIVE):
                  option(value="#{Project::SOURCE_NATIVE}", selected="selected") RFP-EZ
                - else:
                  option(value="#{Project::SOURCE_NATIVE}") RFP-EZ
                - endif;
                - if ($project->source == Project::SOURCE_FBO):
                  option(value="#{Project::SOURCE_FBO}", selected="selected") FBO
                - else:
                  option(value="#{Project::SOURCE_FBO}") FBO
                - endif;
                - if ($project->source == Project::SOURCE_CHALLENGEGOV):
                  option(value="#{Project::SOURCE_CHALLENGEGOV}", selected="selected") Challenge
                - else:
                  option(value="#{Project::SOURCE_CHALLENGEGOV}") Challenge
                - endif;
                - if ($project->source == Project::SOURCE_SBIR):
                  option(value="#{Project::SOURCE_SBIR}", selected="selected") SBIR
                - else:
                  option(value="#{Project::SOURCE_SBIR}") SBIR
                - endif;

            .control-group
              label External URL <em>(if source is not RFP-EZ)</em>
              input.full-width(type="text", name="project[external_url]", value="#{$project->external_url}")

          - endif;
        - endif;
        .control-group
          label Project Title
          input.full-width(type="text", name="project[title]", value="#{$project->title}")

        .control-group
          label Agency
          input.full-width(type="text", name="project[agency]", value="#{$project->agency}")

        .control-group
          label Office
          input.full-width(type="text", name="project[office]", value="#{$project->office}")

        .control-group
          label Zip Code
          input.full-width(type="text", name="project[zipcode]", value="#{$project->zipcode}")

        .control-group
          label Project Type
          input.full-width(type="text", value="#{$project->project_type->name}", readonly)

        .control-group
          label Q+A Period Ends
          span.input-append.date.datetimepicker-wrapper
            input(type="text", name="project[question_period_over_at]", value="#{$project->formatted_question_period_over_at()}")
            span.add-on
              i.icon-calendar

        .control-group
          label Bids Due
          span.input-append.date.datetimepicker-wrapper
            input(type="text", name="project[proposals_due_at]", value="#{$project->formatted_proposals_due_at()}")
            span.add-on
              i.icon-calendar

        .control-group
          label Price type
          label
            | <input type="radio" name="project[price_type]" value="#{Project::PRICE_TYPE_FIXED}" #{$project->price_type == Project::PRICE_TYPE_FIXED ? 'checked' : ''} />
            | Fixed price
          label
            | <input type="radio" name="project[price_type]" value="#{Project::PRICE_TYPE_HOURLY}" #{$project->price_type == Project::PRICE_TYPE_HOURLY ? 'checked' : ''} />
            | Hourly price
          - if (Auth::user()):

            - if (Auth::officer() && Auth::officer()->is_role_or_higher(Officer::ROLE_ADMIN)): 
              label
                | <input type="radio" name="project[price_type]" value="#{Project::PRICE_TYPE_NONE}" #{$project->price_type == Project::PRICE_TYPE_NONE ? 'checked' : ''} />
                | NONE (external project)

            - endif;
          - endif;
          - if ($project->submitted_bids()->count() > 0):
            em #{__("r.projects.admin.change_price_type_warning")}
          - endif;

        - if (Auth::user()):

          - if (Auth::officer() && Auth::officer()->is_role_or_higher(Officer::ROLE_SUPER_ADMIN)): 
            .control-group.background-edit-form <br /><strong>Background:</strong>
              .wysiwyg-wrapper
                textarea.wysihtml5(name="project[background]") !{$project->background}

          - endif;
        - endif;
        .control-group
          button.btn.btn-primary Save


    .span6

      h5 Collaborators

      p #{__("r.projects.admin.collaborators")}

      table.table.collaborators-table(data-project-id="#{$project->id}")
        thead
          tr
            th Email
            th Owner
            th Actions
        tbody#collaborators-tbody
          :javascript
            | $(function(){
            |  new Rfpez.Backbone.Collaborators( !{$project->id}, !{$project->owner()->user->id}, !{$collaborators_json} )
            | })

        tfoot
          tr
            td(colspan="3")
              form#add-collaborator-form(action="#{route('project_collaborators', array($project->id))}", method="POST")
                .input-append
                  input.full-width(type="text", name="email", placeholder="Email Address", autocomplete="off")
                  button.btn.btn-success Add

      h5 Sharing

      p #{__("r.projects.admin.sharing")}

        form(action="#{route('project_toggle_public', array($project->id))}?redirect=#{URI::current()}", method="POST")
          .well
            - if ($project->public):
              span.public-status Status: Public
              button.btn.btn-danger Set to Private
            - else:
              span.public-status Status: Private
              button.btn.btn-success Set to Public (Recommended!)
            - endif;

      - if ($project->status() != Project::STATUS_AMENDING_SOW && $project->status() != Project::STATUS_WRITING_SOW):

        br

        h5 Amending
        p Click the button below to begin amending your Statement of Work.
        div.alert.alert-info 
          | Note: RFP-EZ does not retain previous versions of your SOW. 
          | You may want to print or save your SOW in its current state before you begin amending it.
        form(action="#{route('project_begin_amending', array($project->id))}", method="POST")
          button.btn.btn-warning.btn-large Amend Project
      - endif;
