- Section::inject('page_title', $project->title)
- Section::inject('page_action', "Admin")
- Section::inject('active_subnav', 'admin')
- Section::inject('no_page_header', true)

!{View::make('projects.partials.toolbar')->with('project', $project)}

.row-fluid
  .span6

    h5 Update Project

    form(action="#{route('project', array($project->id))}", method="POST", id="update-project-form")
      input(type="hidden", name="_method", value="PUT")
      .control-group
        label Project Title
        input(type="text", name="project[title]", value="#{$project->title}")

      .control-group
        label Agency
        input(type="text", name="project[agency]", value="#{$project->agency}")

      .control-group
        label Office
        input(type="text", name="project[office]", value="#{$project->office}")

      .control-group
        label Project Type
        input(type="text", value="#{$project->project_type->name}", readonly)

      .control-group
        label Bids Due
        span.input-append.date.datepicker
          input.span3(type="text", name="project[proposals_due_at]", value="#{$project->formatted_proposals_due_at()}")
          span.add-on
            i.icon-calendar
        | at 11:59pm EST

      .form-actions
        button.btn.btn-primary Save


  .span6

    h5 Collaborators

    p
      | Invite anyone with a .gov email address to collaborate on this project. If they
      | don't already have an account on EasyBid, we'll let them create one.


    table.table.collaborators-table(data-project-id="#{$project->id}")
      thead
        tr
          th Email
          th Owner
          th Actions
      tbody#collaborators-tbody
        :javascript
          | $(function(){
          |  new Rfpez.Backbone.Collaborators( #{$project->id}, #{$project->owner()->user->id}, #{$project->officers_json()} )
          | })

      tfoot
        tr
          td(colspan="3")
            form#add-collaborator-form(action="#{route('project_collaborators', array($project->id))}", method="POST")
              .input-append
                input(type="text", name="email", placeholder="Email Address", autocomplete="off")
                button.btn.btn-success Add

    h5 Sharing

    p
      | By setting this project to public, it will show up in the list of "templates"
      | that officers can start from when writing a SOW.

      form(action="#{route('project_toggle_public', array($project->id))}?redirect=#{URI::current()}", method="POST")
        .well
          - if ($project->public):
            span.public-status Status: Public
            button.btn.btn-danger Set to Private
          - else:
            span.public-status Status: Private
            button.btn.btn-success Set to Public (Recommended!)
          - endif;
