- if (Auth::officer()):
  - Section::inject('page_title', 'Everybody\'s Projects')
- else:
  - Section::inject('page_title', 'Projects')
- endif;

- Section::inject('active_nav', 'projects')

- Section::start('inside_header');
  a.officer-only.toggle-my-all-projects(href="#{route('my_projects')}") my projects only
  - if (Auth::vendor() && Bid::where_vendor_id(Auth::vendor()->id)->get()):
    a.vendor-only.toggle-my-all-projects(href="#{route('my_bids')}") my bids only
  - endif
  .search-projects.pull-right
    input.search-query#filter-projects-input(type="search", placeholder="Filter projects...")

- Section::stop();

table.table.projects-table
  thead
    tr
      th.project-title Project Title
      th.type Type
      th.agency Agency

  - foreach($projects as $project):
    tbody.project
      tr
        td
          a(href="#{route('project', array($project->id))}") #{$project->title}
          - if ($project->is_mine()):
            span.admin-star
              i.icon-star
              a(href="#{route('review_bids', array($project->id))}") Review Bids
          - endif;

          - if ($bid = $project->my_bid()):
            span.admin-star
              i.icon-star
              - if ($bid->submitted_at):
                a(href="#{route('bid', array($project->id, $project->my_bid()->id))}") View my bid
              - else:
                a(href="#{route('new_bids', array($project->id))}") Continue Writing Bid
              - endif;

        td #{@Project::$naics_codes[$project->naics_code] ?: $project->naics_code}
        td #{$project->agency}

      tr.project-details
        td(colspan="3") #{$project->sow->background_and_scope()}

      tr.deliverables
        td(colspan="3")
          strong Deliverables:
          #{$project->parsed_deliverables_list}

