- Section::inject('page_title', (Auth::officer() ? 'Everybody\'s Projects' : 'Projects' ))

- Section::start('inside_header');
  a.officer-only.toggle-my-all-projects(href="#{route('my_projects')}", data-pjax) my projects only
  .search-projects.pull-right
    input.search-query#filter-projects-input(type="search", placeholder="Filter projects...")

- Section::stop();

table.table.projects-table
  thead
    tr
      th.type Type
      th.project-title Project Title
      th.agency Agency
      th.agency Bids Due

  - foreach($projects as $project):
    tbody.project
      tr.project-meta
        td
          img(src="#{@Project::$naics_icons[$project->naics_code]}", title="#{@Project::$naics_codes[$project->naics_code] ?: $project->naics_code", alt="#{@Project::$naics_codes[$project->naics_code] ?: $project->naics_code}")
        td
          a.project-title(href="#{route('project', array($project->id))}", data-pjax) #{$project->title}
          - if ($project->is_mine()):
            span.admin-star
              i.icon-star
              a(href="#{route('review_bids', array($project->id))}", data-pjax) Review Bids
          - endif;

          - if ($bid = $project->my_bid()):
            span.admin-star
              i.icon-star
              - if ($bid->submitted_at):
                a(href="#{route('bid', array($project->id, $project->my_bid()->id))}", data-pjax) View my bid
              - else:
                a(href="#{route('new_bids', array($project->id))}", data-pjax) Continue Writing Bid
              - endif;
          - endif;

          p.project-description-truncated #{$project->sow->background_and_scope()}

        td #{$project->agency}

        td #{RelativeTime::format($project->proposals_due_at)}

