- Section::inject('page_title', 'My Projects')

- Section::start('inside_header');
  a.officer-only.toggle-my-all-projects(href="#{route('projects')}") everybody's projects
  a.btn.btn-small.btn-success.new-project-btn.pull-right(href="#{ route('new_projects') }")
    i.icon-plus-sign.icon-white
    | new project
- Section::stop();

.subheader

.container.inner-container

  - if ($projects):
    table.table.my-project-table
      thead
        tr
          th.type
          th.project-title Project
          th.status Status
          th.due Bids Due
            !{Helper::helper_tooltip("Bids are due at 11:59pm EST on the date listed unless otherwise noted.", "top", false, true)}
          th.actions Actions
      tbody.project
        - foreach($projects as $project):
          //- tr.project-meta
          tr(class="#{(($project->source == Project::SOURCE_NATIVE) ? 'project-meta project-meta-highlight' : 'project-meta')}")
            td
              - if ($project->source() == Project::SOURCE_NATIVE):
                img.my-project-icon(src="#{$project->project_type->image()}", title="#{$project->project_type->name}", alt="#{$project->project_type->name}")
              - elseif ($project->source() == Project::SOURCE_FBO):
                span.fbo-import-icon FBO
              - elseif ($project->source() == Project::SOURCE_CHALLENGEGOV):
                span.fbo-import-icon Challenge
              - elseif ($project->source() == Project::SOURCE_SBIR):
                span.fbo-import-icon SBIR
              - else:
                span.fbo-import-icon 
              - endif;
            td
              - if ($project->status() != Project::STATUS_WRITING_SOW && $project->status() != Project::STATUS_AMENDING_SOW):
                a.project-title(href="#{ route('review_bids', array($project->id)) }") #{$project->title}
              - else:
                a.project-title(href="#{ route('project', array($project->id)) }") #{$project->title}
            td #{$project->status_text()}
            td.due #{$project->formatted_proposals_due_at_date()}
              span.due-time #{$project->formatted_proposals_due_at_time()}
            td
              a.btn.btn-mini(href="#{ route('project_admin', array($project->id)) }") Admin
        - 
  - else:
    p !{__("r.projects.mine.none", array("url" => route('new_projects')))}
  - endif;