- Section::inject('page_title', 'My Projects')

- Section::start('inside_header');
  a.officer-only.toggle-my-all-projects(href="#{route('projects')}", data-pjax) everybody's projects
  a.btn.btn-small.btn-success.new-project-btn.pull-right(href="#{ route('new_projects') }", data-pjax)
    i.icon-plus-sign.icon-white
    | new project
- Section::stop();

- if ($projects):
  table.table.my-project-table
    thead
      tr
        th.type
        th.project-title Project
        th.status Status
        th.due Bids Due
        th.actions Actions
    tbody.project
      - foreach($projects as $project):
        tr.project-meta
          td
            img.my-project-icon(src="#{$project->project_type->image()}", title="#{$project->project_type->name}", alt="#{$project->project_type->name}")
          td
            - if ($project->status() != Project::STATUS_WRITING_SOW):
              a.project-title(href="#{ route('review_bids', array($project->id)) }", data-pjax) #{$project->title}
            - else:
              a.project-title(href="#{ route('project', array($project->id)) }", data-pjax) #{$project->title}
          td #{$project->status_text()}
          td #{$project->formatted_proposals_due_at()}
          td
            a.btn.btn-mini(href="#{ route('project_admin', array($project->id)) }", data-pjax) Admin
- else:
  p No contracts to display.
