- Section::inject('page_title', "$project->title")
- Section::inject('page_action', "Post on FBO")
- Section::inject('active_subnav', 'post_on_fbo')
- Section::inject('no_page_header', true)

!{View::make('projects.partials.toolbar')->with('project', $project)}

.row-fluid
  .span7

    h5 Step 1
    p !{__("r.projects.post_on_fbo.step1")}

    input.input-xxlarge(type="text", value="#{View::make('projects.partials.fbo_body')->with('project', $project)}", data-select-text-on-focus="true")

    h5 Step 2
    p !{__("r.projects.post_on_fbo.step2", array("due" => $project->formatted_proposals_due_at(), "url" => route('project_admin', array($project->id))))}

    form#sync-with-fbo-form(method="POST")

      .control-group
        button.btn.btn-primary.btn-large Sync with FBO

  .span4.offset1
    .well
      h5 Not a Contracting Officer?
      p !{__("r.projects.post_on_fbo.not_co")}