- Section::inject('page_title', $project->title)
- Section::inject('page_action', "Customize Sections")
- Section::inject('active_subnav', 'create')
- Section::inject('active_sidebar', 'sections')
- Section::inject('no_page_header', true)

!{View::make('projects.partials.toolbar')->with('project', $project)}
!{View::make('projects.partials.add_edit_section_modal')->with('project', $project)->with('available_sections', $available_sections)}

.row-fluid
  .span3
    !{View::make('projects.partials.sow_composer_sidebar')->with('project', $project)}

  .span9
    .alert.alert-info !{__("r.projects.sections.drag_helper")}
    button.btn.btn-success.pull-right.add-section-button Add Section
      i.icon-white.icon-plus-sign

    div.clearfix

    !{View::make('projects.partials.sections_for_editing')->with('project', $project)}

    .form-actions
      a.btn.btn-primary(href="#{route('project_blanks', array($project->id))}") Save and Continue &rarr;
