- Section::inject('page_title', $project->title)
- Section::inject('page_action', "Sections")
- Section::inject('active_subnav', 'view')
- Section::inject('no_page_header', true)

!{View::make('projects.partials.toolbar')->with('project', $project)}

.row-fluid
  .span8
    h4 Available Sections for #{$project->project_type->name}

  .span4
    h4 Selected Sections

.row-fluid
  .span8.available-sections-wrapper
    span
      em Don't see what you want? In the next step you can create new sections.

    .row-fluid
      .span6.sort-by
        | Sort by:
        select
          option Popularity

      .span6.filter
        input.search-query(type="text", placeholder="Filter")

    table.table.table-striped.available-sections-table
      thead
        tr
          th Title
          th Category
          th Times Used
          th Use

      tbody
        - foreach ($available_sections as $section):
          tr.section(data-section-id="#{$section->id}")
            td #{$section->title}
            td #{$section->section_category}
            td #{$section->times_used}
            td
              a.btn.btn-primary.btn-mini.add-button(data-href="#{route('project_section_add', array($project->id, $section->id))}") Use This &rarr;

  .span4
    !{View::make('projects.partials.selected_sections')->with('project', $project)}

.form-actions
  a.btn.btn-primary(href="#{route('project_sections_edit', array($project->id))}") Continue