- Section::inject('page_title', $project->title)
- Section::inject('page_action', "Select a Template")
- Section::inject('active_subnav', 'create')
- Section::inject('no_page_header', true)

!{View::make('projects.partials.toolbar')->with('project', $project)}

h4 Select a Template

.alert.alert-info
  | Here are some statements of work from real, successful procurements for the same type of project you're doing.
  | When you "fork" one of these templates, we'll grab all the good bits and then let you customize it to suit the
  | details of your specific project.

ul.templates-list
  - foreach($templates as $template):
    li.template
      .row-fluid
        .span6
          .title #{$template->title}
          .author #{$template->owner()->name}

        .span4
          .forked
            | Forked <a href="#">#{$template->fork_count} #{Str::plural('time', $template->fork_count)}</a>
          - if ($template->recommended):
            .recommended &star; Recommended Template

        .span2
          a.btn(href="#{route('project_template_post', array($project->id, $template->id))}") Fork

  - if ($more_templates_count):
    li.show-more
      a(href="#") See #{$more_templates_count} more #{Str::plural('template', $more_templates_count)}


h4 ...Or Start From Scratch

.alert.alert-info
  | Prefer to roll your own SOW? That's great too! You'll still have access to our library of pre-written sections.

a.btn(href="#{route('project_background', array($project->id))}") Start From Scratch