- if (!isset($officer) && Auth::user() && Auth::user()->officer):
  - $officer = Input::old('officer') ?: Auth::user()->officer->to_array()
- endif;

- if (isset($signup) && $signup):
  .control-group
    label Email
    input(type="text", name="user[email]", value="#{$user['email']}")

    label.checkbox
      | <input type="checkbox" name="user[send_emails]" #{isset($user['send_emails']) && !$user['send_emails'] ? '' : 'checked'} />
      | Yes, email me with updates about EasyBid

- else:

  label.larger #{Auth::user()->email}
    a.smaller(href="#{route('change_email')}") change email

  label.larger (password hidden)
    a.smaller(href="#{route('change_password')}") change password

  label.larger Role: #{$officer['role_text']}

  label.checkbox
    | <input type="checkbox" name="user[send_emails]" #{Auth::user()->send_emails ? 'checked' : ''} />
    | Yes, email me with updates about EasyBid

- endif;

.control-group
  label Name
  input(type="text", name="officer[name]", value="#{$officer['name']}")

.control-group
  label Title
  input(type="text", name="officer[title]", value="#{$officer['title']}")

.control-group
  label Agency
  input(type="text", name="officer[agency]", value="#{$officer['agency']}")

.control-group
  label Phone
  input(type="text", name="officer[phone]", value="#{$officer['phone']}")
