
- if (!isset($vendor) && Auth::user() && Auth::user()->vendor)
  - $vendor = Input::old('vendor') ?: Auth::vendor()->to_array();

- if (!isset($services) && Auth::user() && Auth::user()->vendor)
  - $services_list = Auth::user()->vendor->services()->lists('id')
  - $services = array();
  - foreach ($services_list as $key => $val)
    - $services[intval($val)] = true;

- $signup = isset($signup) && $signup;

.row

  fieldset.span5
    h3 Work and Capabilities

    .control-group
      label
        h5 Your company in 50 words or less
      textarea(name="vendor[more_info]") #{$vendor['more_info']}

    .control-group
      h5 What kind of work does your company do?
      - foreach(Service::all() as $service):
        label.checkbox
          <input type="checkbox" name="services[#{ $service->id }]" #{ (isset($services[$service->id])) ? "checked" : "" } />
          | #{$service->name}
    .control-group
      label
        h5 Ballpark average project price
      select(type="text", name="vendor[ballpark_price]")
        - foreach(Vendor::$ballpark_prices as $id => $ballpark_price):
          <option value="#{ $id }" #{ ($vendor['ballpark_price'] == $id) ? "selected" : "" }> #{ $ballpark_price } </option>

    h5 Company links

    .control-group
      label Home page
      input(type="text", name="vendor[homepage_url]", value="#{ $vendor['homepage_url'] }")

    .control-group
      label Portfolio
      input(type="text", name="vendor[portfolio_url]", value="#{ $vendor['portfolio_url'] }")

    .control-group
      label Public source (e.g. github)
      input(type="text", name="vendor[sourcecode_url]", value="#{ $vendor['sourcecode_url'] }")

    .vendor-image-url
      .control-group
        label Link to an image of your best work (400 x 300px)
        .input-append
          input(type="text", name="vendor[image_url]", value="#{ $vendor['image_url'] }")
          button#prev-img-btn.btn.btn-primary.disabled(type="button") Preview

      label.vendor-image-preview.hide (Preview)
      .vendor-image-preview.vendor-image-preview-frame.hide
        img


  fieldset.span5

    - if ($signup):

      h3 Contact Info

      .control-group
        label Email
        input(type="text", name="user[email]", value="#{ isset($user) ? $user['email'] : '' }")
      .control-group
        label Choose a Password
        input(type="password", name="user[password]")

    - else:
      h3 Credentials

      label.larger #{Auth::user()->email}
        a.smaller(href="#{route('change_email')}") change email

      label.larger (password hidden)
        a.smaller(href="#{route('change_password')}") change password

      h3 Contact Info

    - endif;

    .control-group
      label DUNS Number
        a.explain-duns-link(href="#explain-duns-modal", data-toggle="modal") what's this?
      input(type="text", name="vendor[duns]", value="#{ $vendor['duns'] }")

    - if (!$signup):
      .control-group
        label Registered in SAM.gov?
        - if ($vendor["sam_entity_name"]):
          .green Yes, under "#{$vendor["sam_entity_name"]}"
        - else:
          .red No
        - endif;

      .control-group
        label Registered in DSBS?
        - if ($vendor["dsbs_name"]):
          .green Yes, under "#{$vendor["dsbs_name"]}"
          !{View::make('vendors.partials.dsbs_certifications')->with('user_id', $vendor["dsbs_user_id"])}
        - else:
          .red No
        - endif;
    - endif;

    .control-group
      label Company Name
      input(type="text", name="vendor[company_name]", value="#{ $vendor['company_name'] }")

    .control-group
      label Person to Contact
      input(type="text", name="vendor[contact_name]", value="#{ $vendor['contact_name'] }")

    .control-group
      label Address
      input(type="text", name="vendor[address]", value="#{ $vendor['address'] }")

    .control-group
      label City
      input(type="text", name="vendor[city]", value="#{ $vendor['city'] }")

    .control-group
      label State
      select(name="vendor[state]")
        - foreach(Helper::all_us_states() as $code => $state):
          <option value="#{ $code }" #{ ($vendor['state'] == $code) ? "selected" : "" }> #{$state} </option>

    .control-group
      label Zip
      input(type="text", name="vendor[zip]", value="#{ $vendor['zip'] }")form
